<nav class='languages-menu'>
  <p>Switch programming language</p>
  <ul>
    <li id='html' class='button secondary'>Html</li>
    <li id='css' class='button secondary'>Css</li>
    <li id='scss' class='button secondary'>Scss</li>
    <li id='php' class='button secondary'>Php</li>
    <li id='sql' class='button secondary'>SQL</li>
    <li id='javascript' class='button secondary'>Javascript</li>
    <li id='ruby' class='button secondary'>Ruby</li>
    <li id='markdown' class='button secondary'>Markdown</li>
    <li id='latex' class='button secondary'>Latex</li>
    <li id='python' class='button secondary'>Python</li>
    <li id='java' class='button secondary'>Java</li>
  </ul>
</nav>