<nav class='nav'>
  <ul class='pure-g'>
    <li class='pure-u-1 pure-u-md-1-3'>
      <a title='Homepage' href='/'>
        <i class='icon-home'></i>
      </a>
    </li>
    <li class='pure-u-1 pure-u-md-1-3'>
      <a title='Submit a theme' target='_blank' href='https://github.com/Colorsublime/Colorsublime-Themes'>
        <i class='icon-github'></i>
      </a>
    </li>
    <li class='pure-u-1 pure-u-md-1-3 {% if page.url == "/how-to-install-a-theme/" %}active{% endif %}'>
      <a title='How to install a theme' href='/how-to-install-a-theme'><i class='icon-info-sign'></i></a>
    </li>
  </ul>
</nav>