a {
  color: $color-secondary-1-4;

  &:hover, &:active, &:focus {
    color: $color-secondary-1-2;
  }
}


.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 $lateral-padding;
}

.content {
  margin-bottom: 2rem;

  > ol {
    padding: 0 20px;

    > li {
      margin: 0 0 1rem;
      > img {
        margin: 0.5rem 0;
        display: block;
        max-width: 100%;
      }
    }
  }
}