// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=41f1m0ku9++J5++BB++Aaxurqpi */

// Feel free to copy&paste color codes to your application */


$color-primary-0: #01E7F2;  // Main Primary color */
$color-primary-1: #02F1FD;
$color-primary-2: #02EFFA;
$color-primary-3: #00C1CA;
$color-primary-4: #00B0B8;

$color-secondary-1-0: #F80096;  // Main Secondary color (1) */
$color-secondary-1-1: #FE009A;
$color-secondary-1-2: #FD0099;
$color-secondary-1-3: #E20089;
$color-secondary-1-4: #D90083;

$color-secondary-2-0: #FFD900;  // Main Secondary color (2) */
$color-secondary-2-1: #FFE864;
$color-secondary-2-2: #FFE139;
$color-secondary-2-3: #C6A800;
$color-secondary-2-4: #9B8400;



$color-complement-0: #FF7600; // Main Complement color */
$color-complement-1: #FFAB64;
$color-complement-2: #FF9539;
$color-complement-3: #C65B00;
$color-complement-4: #9B4800;
