.editor {
  width:100%;
  min-height:180px;
  border-radius: 0 0 10px 10px;
  border: 2px solid #222;
  box-sizing: border-box;

  .ace_gutter {
    color:#3d3d3d;
  }

  .ace_scrollbar {
    display:none;
  }
}

