.themes-collection {
  padding: 0;
  margin: 0;
  justify-content: space-between;

  > li {
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 1rem;

    @include mq($md-breakpoint) {
      width: 100%;
    }

    @include mq($lg-breakpoint) {
      width: 32.5%;
    }
  }

  .title {
    background: #222;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 10px 10px 0 0;
    margin: 0;
    padding: 0.5rem $lateral-padding;
  }

  .buttons-group {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    > .button {
      flex: 0 1 38%;
    }
  }
}