$custom-regular:   'Open Sans', sans-serif;
$custom-thin:      'RalewayThin', sans-serif;

$container-width: 1024px;
$lateral-padding: 16px;

$sm-breakpoint: 35.5em;
$md-breakpoint: 48em;
$lg-breakpoint: 64em;
$xl-breakpoint: 80em;