{% include head.html %}

<main class='content'>
  <div class='theme-container'>
    <div class='content' id='theme-{{page.ID}}' >
      <div class='info'>
        <h2>{{page.Title}}</h2>
        <p class='metadata'>
          By <b>{{page.Author}}</b>  <i>{{page.Description}}</i>
        </p>
        <div class='share-btn'></div>
        <a href='{{ site.github_download_base_url }}{{ page.FileName }}' target='_blank' class='btn btn-download'>
          <i class='icon-download'></i>
          Download
        </a>
      </div>
      {% include languages-menu.html %}
    </div>
  </div>
</main>

{% include tail.html %}