{% include head.html %}

<main class='content'>
  <div class='theme-detail'>
    <div class='theme' id='theme-{{page.ID}}' data-language='javascript'>
      <h2 class='title'>{{page.Title}}</h2>
      {% if page.Author != '' %}
        <p class='metadata'>
          By <b>{{ page.Author }}</b>  {{page.Description}}
        </p>
      {% endif %}
      <div class='editor'>function foo(items) {
  const x = 2;
  const y = 'unicorn';

  return x + items;
}</div>
      {% include languages-menu.html %}
      <a download href='{{ site.github_download_base_url }}{{ page.FileName }}' target='_blank' class='button primary'>
        Download
        <i class='icon-download'></i>
      </a>
    </div>
  </div>
</main>

{% include tail.html %}